@import url("https://fonts.googleapis.com/css2?family=Island+Moments&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700&display=swap");
html {
  scroll-behavior: smooth;
}

:root {
  --primary-color: #ffffff;
  --secondary-color: #3ca69b;
  --heading-color: rgb(255, 255, 255);
  --text-color: #233d3d;
  --font-name: "Montserrat", sans-serif;
  --subtitle-font-name: "Island Moments", cursive;
  --body-color: linear-gradient(
    to right top,
    #181316,
    #151013,
    #120d0f,
    #0d090b,
    #080506,
    #0c080a,
    #0f0a0f,
    #110d13,
    #13151e,
    #0d1e28,
    #01262d,
    #002e2b
  );
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: var(--font-name);
  width: 100%;
  min-height: 100vh;
  /* background: radial-gradient(#111, #071a1a); */
  background-image: var(--body-color);
}

section {
  padding: 0px 0px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: var(--heading-color);
}

a {
  text-decoration: none;
  color: unset;
}
ul {
  list-style: none;
}

.primary__btn {
  background: var(--secondary-color) !important;
  border: none !important;
  border-radius: 50px !important;
  padding: 0.4rem 1.5rem !important;
}

.primary__btn a {
  font-size: 1.1rem;
  text-decoration: none;
  color: #fff;
}
.primary__btn a:hover {
  color: inherit;
}
.secondary__btn {
  background: transparent !important;
  color: #0b2727 !important;
  border: none !important;
  font-weight: 500 !important;
}

.secondary__btn a {
  text-decoration: none;
  font-size: 1.1rem;
  color: var(--heading-color);
}

.secondary__btn a:hover {
  color: inherit;
}

@media only screen and (max-width: 992px) {
  .primary__btn a,
  .secondary__btn a {
    font-size: 0.9rem;
  }
}
